<p>Hey <%= name %>,</p>
<p>
  Thanks for your contribution to AHEZA solidality fund. We're very excited to have you on board.
</p>

<h3>Contribution Reciept</h3>
<p>
 Period: <%= month %> / <%= year %> 
</p>
<p>
  Amount: <%= amount %>  
 </p>

<p>
  Your can check all your contribution by click on the link
</p>

<a href="<%= url %>"><%= url %></a>
